<h1>Add new book</h1>

<p><label for="book_title">Title</label>:
<%=text_field 'book','title'%></p>
<p><label for="book_price">price</label>:
<%=text_field 'book','price'%></p>
<p><label for="book_subject">subject</label>:
<%=collection_select(:book,:subject_id,@subjects,:id,:name)%></p>
<p><label for="book_description">Description</label>:
<%=text_area 'book','description'%></p>
<%=submit_tag "Create"%>
<%=link_to "Back",{:action=>'list'}%>

